[user]
  name = Arthur Malumian
  email = arthurmalumian@gmail.com
  signingkey = KEYID
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  autocrlf = input
  safecrlf = warn
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
[init]
  defaultBranch = main
[commit]
  gpgsign = true
[merge]
  tool = nvimdiff
  conflictstyle = zdiff3
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
